---
- name: Firewall
  ansible.builtin.import_playbook: playbooks/firewall.yaml

- name: Install Docker
  ansible.builtin.import_playbook: playbooks/install_docker.yaml

- name: Setup Prometheus
  ansible.builtin.import_playbook: playbooks/prometheus.yaml

- name: Setup Nginx web
  ansible.builtin.import_playbook: playbooks/nginx_web.yaml

- name: Setup etcd cluster
  ansible.builtin.import_playbook: playbooks/etcd.yaml

- name: Setup Nginx proxy
  ansible.builtin.import_playbook: playbooks/nginx_proxy.yaml
