global:
  scrape_interval: 15s
  evaluation_interval: 30s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: node-exporter
    static_configs:
      - targets: ["172.28.0.1:9100"]

  - job_name: nginx
    static_configs:
      - targets: ["Nginx_exporter:9113"]
  
  - job_name: docker
    static_configs:
      - targets: ["172.28.0.1:9323"]
