---
- name: Install Docker
  hosts: all
  remote_user: root
  become: true
  vars:
    host_arch: "{{ 'arm64' if ansible_architecture == 'aarch64' else ansible_architecture }}"

  tasks:
    - name: Update and upgrade packages
      ansible.builtin.apt:
        update_cache: true
        upgrade: dist

    - name: Create directory for keyrings
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Add docker gpg key
      ansible.builtin.apt_key:
        url: https://download.docker.com/linux/debian/gpg
        keyring: /etc/apt/keyrings/docker.gpg
        state: present

    - name: Set permissions for docker gpg key
      ansible.builtin.file:
        path: /etc/apt/keyrings/docker.gpg
        mode: '0644'

    - name: Add docker repository
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ host_arch }} signed-by=/etc/apt/keyrings/docker.gpg] \
              https://download.docker.com/linux/debian {{ ansible_facts['lsb']['codename'] }} stable"
        state: present
        filename: docker.list

    - name: Install packages
      ansible.builtin.apt:
        pkg:
          - ca-certificates
          - curl
          - gnupg
          - iptables-persistent
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: true

    - name: Copy docker config
      ansible.builtin.copy:
        src: ../configs/daemon.json
        dest: /etc/docker/daemon.json
        mode: "0644"

    - name: Restart Docker and make sure it is enabled
      ansible.builtin.systemd:
        name: "{{ item }}"
        enabled: true
        state: restarted
      loop: ['docker.service', 'containerd.service']

    - name: Create config folder
      ansible.builtin.file:
        path: /etc/docker
        state: directory
        mode: '0755'
