---
- name: Setup Nginx proxy
  hosts: all
  remote_user: root
  become: true
  gather_facts: false
  tasks:

    - name: Copy nginx proxy config
      ansible.builtin.copy:
        src: ../configs/nginx_proxy/
        dest: /etc/docker/nginx_proxy
        mode: "0644"

    - name: Create a Nginx proxy container
      community.docker.docker_container:
        name: nginx_proxy
        image: nginx:1.25.3-bookworm
        state: started
        recreate: true
        pull: true
        log_driver: journald
        restart_policy: always
        ports:
          - "80:80"
          - "443:443"
          - "127.0.0.1:2379:2379"
          - "127.0.0.1:8081:8081"
        mounts:
          - type: bind
            target: /etc/nginx
            source: /etc/docker/nginx_proxy
            read_only: true

        networks:
          - name: nginx_network
          - name: etcd_network
