---
- name: Setup Prometheus
  hosts: all
  remote_user: root
  become: true
  gather_facts: false
  tasks:

    - name: Copy Prometheus config
      ansible.builtin.copy:
        src: ../configs/prometheus.yaml
        dest: /etc/docker/prometheus.yaml
        mode: "0644"

    - name: Create network
      community.docker.docker_network:
        name: monitoring
        ipam_config:
          - subnet: 172.28.0.0/16
            iprange: 172.28.1.0/24
            gateway: 172.28.0.1

    - name: Create a Prometheus container
      community.docker.docker_container:
        name: prometheus
        image: bitnami/prometheus:2.48.1
        state: started
        recreate: true
        pull: true
        log_driver: journald
        restart_policy: always
        ports:
          - "9090:9090"
        mounts:
          - type: volume
            target: /opt/bitnami/prometheus/data
            source: prometheus_data

          - type: bind
            target: /opt/bitnami/prometheus/conf/prometheus.yml
            source: /etc/docker/prometheus.yaml
        networks:
          - name: monitoring

    - name: Node exporter
      community.docker.docker_container:
        name: node_exporter
        image: bitnami/node-exporter:1.7.0
        pid_mode: host
        network_mode: host
        state: started
        recreate: true
        pull: true
        log_driver: journald
        restart_policy: always
        command:
          - "--path.rootfs=/host"
        mounts:
          - type: bind
            propagation: rslave
            target: /host
            read_only: true
            source: /
